<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/images/brand/adidas.jpeg" height="150px" width="550px"  alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/brand/burberry.jpeg" height="150px" width="550px" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/brand/calvinclein.jpeg" height="150px" width="550px" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/brand/colombia.jpeg" height="150px" width="550px" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/brand/gucci.jpeg" height="150px" width="550px" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/brand/hummel.jpeg" height="150px" width="550px" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/brand/nike.jpeg" height="150px" width="550px" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/brand/underarmour.jpeg" height="150px" width="550px" alt="">
                </div>
            </div>
        </div>
    </div>
</div>